.smex-items
backups/
elpa/
places
*~
#*
*#
swank/
ac-comphist.dat
ac-dict/
cha1tanya
repl-port
var/
tmp/
url/
emms/
eshell/
bookmarks
logs/
tramp
.org-id-locations
elpa_backup/
projectile-bookmarks.eld
.cask
projectile.cache
.mc-lists.el
org-clock-save.el
helm-adaptive-history